body {
    text-align: center; 
    margin-left: 30%; 
    margin-right: 30%; 
    margin-top: 10%; 
}

h1 {
text-align: center; 
background-color: rgb(72, 143, 72);
color: white; 
font-size: 18px; 
height: 30px;
}

form {
display: inline-block; 
}

p {
    color: orange;
}

button {
    background-color: red; 
}

input {
    border-style: solid; 
    border-color: green; 
}